/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', san-serif: */

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

h2 {
  font-family: 'Poppins', san-serif;
  font-weight: normal; 
}